body {
    background-color: #080808;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.brand-name {
    margin-bottom: 50px;
}

input {
    height: 40px;
    background-color: #242424;
    color: #fff;
    border-radius: .5rem;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
}

.label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #242424;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    margin-left: 10px;
}

.weather-wrap {
    background-color: #202020;
    width: 400px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    margin-right: 20px;
}

.text-wrap {
    display: flex;
    flex-direction: column;
}

.temp {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
}

.location {
    margin: 0;
    font-size: 17px;
}

.last-update {
    font-size: 13px;
}